[Unit]
Description=Simple Task Management API
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/root/eplc-test-api
ExecStart=/usr/bin/bun run src/cluster.ts
Restart=always
RestartSec=10
Environment=NODE_ENV=production
Environment=PORT=3001

[Install]
WantedBy=multi-user.target